@import 'layout/__combobox';
@import 'utils/variables';

// //custom values

//import functions and variable
@import '../node_modules/bootstrap/scss/functions.scss';
@import '../node_modules/bootstrap/scss/variables.scss';
//custom color map
$custom-theme-colors: (
	'ingredient': #3282f7,
	'appareil': #68d9a4,
	'ustensile': #ed6454,
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

.bg-ingredient {
	background-color: #3282f7;
	color: white;
}

.bg-appliance {
	background-color: #68d9a4;
	color: white;
}
.bg-ustensil {
	background-color: #ed6454;
	color: white;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';

.form-control {
	background-color: unset;
}

.meal__img {
	width: 100%;
	height: 300px;
}

.meal__txt__lower__ingredient,
.meal__txt__upper__time {
	font-weight: 700;
}
.hidden {
	display: none;
}
