.custom-select select {
	display: none; /*hide original SELECT element:*/
}

/*the container must be positioned relative:*/
.custom-select {
	position: relative;
	display: flex;
	align-items: center;
	margin-left: $marginV;
}

.custom-select div {
	background-color: $colour-primary;
	width: $option-width;
	height: $option-height;
}
.select-selected {
	border-top-left-radius: $select-radius;
	border-top-right-radius: $select-radius;
	@include mobile-800 {
		display: none;
	}
}

.custom-select__label {
	width: $label-width;
	margin-right: $marginH;
	@include mobile-800 {
		display: none;
	}
}

/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	top: 0.6 * $option-height;
	left: $label-width + $option-width + $marginV;
	content: '';
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	position: absolute;
	top: 0.5 * $option-height;
	left: $label-width + $option-width + $marginV;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	cursor: pointer;
	user-select: none;
}

/*style items (options):*/
.select-items {
	position: absolute;
	top: 100%;
	z-index: 99;
	margin-left: $label-width + $marginH;
}
.last {
	border-bottom-left-radius: $select-radius;
	border-bottom-right-radius: $select-radius;
}

/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover {
	background-color: $darken-primary;
}
.same-as-selected {
	display: none;
}
.select-items div {
	position: relative;
}

.select-items div:after {
	content: '';
	background: white;
	position: absolute;
	top: -1px;
	left: 10%;
	width: 80%;
	height: 2px;
}
