.arrow-container {
	cursor: pointer;
	z-index: 2;
}

main {
	position: absolute;
	z-index: -1;
}

input:focus {
	outline: none !important;
	background-color: unset;
}
.form-control:focus {
	outline: none !important;
}

.arrow {
	z-index: -1;
	position: relative;
	right: 0px;
	top: -6px;
	padding: 0.4rem; /* Arrow size */
	box-shadow: 4px -4px 0 0px white inset;
	border: solid transparent;
	border-width: 0 0 1rem 1rem;
}

.arrow-up {
	transform: rotate(135deg) !important;
	top: -6px !important;
}
.arrow-right {
	transform: rotate(225deg);
}
.arrow-down {
	transform: rotate(-45deg);
	top: 10px;
}
.arrow-left {
	transform: rotate(45deg);
}

.item-input::placeholder {
	color: lightgray;
}

nav {
	position: relative;
}
.item-droplist__col__row {
	border-radius: 0px 5px 5px 5px;
}

.droplist-container {
	position: absolute;
}
