.main__h1 {
	position: absolute;
	top: $marginH;
	right: $marginV;
	font-weight: normal;
	width: auto;
	display: flex;
	justify-content: flex-end;
	color: $colour-primary;
	@include tablet-1200 {
		top: 8px;
		right: 0px;
		margin-top: 0px;
	}
	@include mobile-800 {
		@include tablet-scale;
	}

	@include mobile-420 {
		top: 42px;
		margin: 0;
		justify-content: center;
		width: 100%;
	}
}

.header {
	&__linkContainer {
		position: relative;
		display: flex;
		justify-content: center;
		@include tablet-1200 {
			display: none;
		}

		&__link {
			@include colorway-black-on-salmon;
			font-weight: bold;
			border-radius: 5px;
			width: 182px;
			height: 30px;
			text-align: center;
			vertical-align: middle;
			line-height: 30px;
			margin-top: $marginV * 0.2;
			transform: scaleY(1);
			transform-origin: 0% -100%;
			animation: link-apparition 0.6s forwards;
		}
	}

	&__content {
		display: flex;
		margin: $marginH;
		align-items: center;
		margin-top: -8px;
		z-index: 1;
		@include tablet-1200 {
			flex-direction: column;
			align-items: flex-start;
			padding: 0px;
			width: 100%;
			justify-content: space-between;
		}
		&__logo {
			color: $colour-primary;
			width: 30%;
			display: flex;
			align-items: center;
			@include tablet-1200 {
				display: block;
				width: auto;
			}
			@include mobile-800 {
				@include tablet-scale;
			}

			@include mobile-420 {
				width: auto;
				margin: auto;
				margin-bottom: 35px;
			}

			&__img {
				height: 28px;
				margin: 0;
			}

			&__txt {
				font-size: 2.5rem;
				font-weight: bold;
				margin: 0;
			}
		}
		&__nav {
			justify-content: center;
			@include tablet-1200 {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;
			}
			&__ul {
				display: flex;
				margin: 0;
				padding: 0;
				z-index: 2;
				@include tablet-1200 {
					flex-wrap: wrap;
					justify-self: center;
					width: 75%;
					justify-content: center;
				}
			}
		}
	}
}
