@mixin mobile-420 {
	@media screen and (max-width: 420px) {
		@content;
	}
}

@mixin mobile-450 {
	@media screen and (max-width: 450px) {
		@content;
	}
}

@mixin mobile-500 {
	@media screen and (max-width: 500px) {
		@content;
	}
}

@mixin mobile-600 {
	@media screen and (max-width: 600px) {
		@content;
	}
}

@mixin mobile-800 {
	@media screen and (max-width: 800px) {
		@content;
	}
}

@mixin tablet-1200 {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin tablet-scale {
	transform: scale(0.8);
}

@mixin desktop {
	@media screen and (min-width: 801px) {
		@content;
	}
}

@mixin colorway-red-on-white {
	color: $colour-primary;
	background: $colour-white;
}

@mixin colorway-white-on-red {
	background: $colour-primary;
	color: $colour-white;
}

@mixin colorway-black-on-salmon {
	color: $colour-black;
	background: $colour-secondary;
}

@mixin gallery-buttons {
	@include colorway-white-on-red;
	border-radius: $radius-small;
	border: none;
	height: 50px;
}
@mixin format-options {
	width: $option-width;
	height: $option-height;
}
