$colour-secondary: #db8876;
$colour-tertiary: #d3573c;
$colour-grey: #525252;

$colour-light-grey: #e7e7e7;
.bg-light-grey {
	background-color: $colour-light-grey;
}

$colour-white: #fff;
$colour-black: #000000;

/*most common margin values*/
$marginH: 15px;
$marginV: 20px;
$margindefault: $marginV $marginH $marginV $marginH;

//dims for gallery containers
$gallery_container_dim: 400px;
$gallery_container_dim_S: 250px;

/*Radii*/
$radius-small: 5px;

//lightbox
$lightbox-btn-size: 20px;
$lightbox-btn-margin: 50px 100px 100px 100px;
$lightbox-width: 1050px;
$lightbox-height: 900px;

//photographer avatar dims
$photographer-avatar-dims-XS: 100px;
$photographer-avatar-dims-S: 180px;
$photographer-avatar-dims-M: 200px;
$photographer-avatar-dims-L: 340px;

$input-fontsize: 1.2rem;

$label-width: 65px;

$select-radius: 5px;
$option-width: 100px;
$option-height: 30px;
